In [1]:
import pandas as pd
import numpy as np

In [3]:
ori=pd.read_csv('Viscosity_std_1275calibration_optimum_rates_best.csv')
liquid = 'Viscosity_std_1275'
ori

,liquid,pipette,volume,aspiration_rate,dispense_rate,blow_out_rate,delay_aspirate,delay_dispense,delay_blow_out,touch_tip_aspirate,touch_tip_dispense,density,mi,mf,m,%error,Comment
0,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,22.0292,22.9077,0.8785,0.560897,NaN
1,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,27.1362,28.0169,0.8807,0.812729,NaN
2,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,28.7289,29.5998,0.8709,-0.309066,NaN
3,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,27.1506,28.0230,0.8724,-0.137363,NaN
4,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,25.5631,26.4436,0.8805,0.789835,NaN
5,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,23.9836,24.8558,0.8722,-0.160256,NaN
6,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,28.7274,29.5966,0.8692,-0.503663,NaN
7,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,22.4004,23.2781,0.8777,0.469322,NaN
8,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,25.1578,26.0325,0.8747,0.125916,NaN
9,Viscosity_std_1275,p1000,1000.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,23.5973,24.4736,0.8763,0.309066,NaN
10,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,24.8558,25.2954,0.4396,0.641026,NaN
11,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,28.0169,28.4584,0.4415,1.076007,NaN
12,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,29.5998,30.0351,0.4353,-0.343407,NaN
13,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,21.6871,22.1323,0.4452,1.923077,NaN
14,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,22.9077,23.3394,0.4317,-1.167582,NaN
15,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,23.2781,23.7153,0.4372,0.091575,NaN
16,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,28.0230,28.4591,0.4361,-0.160256,NaN
17,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,26.0325,26.4629,0.4304,-1.465201,NaN
18,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,24.4736,24.9030,0.4294,-1.694139,NaN
19,Viscosity_std_1275,p1000,500.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,26.4436,26.8798,0.4362,-0.137363,NaN
20,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,26.8798,27.1506,0.2708,3.327228,NaN
21,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,23.3394,23.5973,0.2579,-1.594933,NaN
22,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,28.4591,28.7289,0.2698,2.945665,NaN
23,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,26.4629,26.7203,0.2574,-1.785714,NaN
24,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,25.2954,25.5631,0.2677,2.144383,NaN
25,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,24.9030,25.1578,0.2548,-2.777778,NaN
26,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,23.7153,23.9836,0.2683,2.373321,NaN
27,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,22.1323,22.4004,0.2681,2.297009,NaN
28,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,28.4584,28.7274,0.2690,2.640415,NaN
29,Viscosity_std_1275,p1000,300.0,7.337059,3.41912,0,5,5,0,True,False,0.8736,30.0351,30.3006,0.2655,1.304945,NaN

In [4]:
def report (density):
    df = pd.DataFrame(columns = ['target_volume',1,2,3,4,5,6,7,8,9,10,'mean_volume','mean_error','relative_error','std_dev',
                             'relative_std_dev'])
    df['target_volume']=[1000,500,300]

    df.iloc[0,1:11] = [x/density*1000 for x in ori.loc[ori['volume']==1000]['m'].tolist()]
    df.iloc[1,1:11] = [x/density*1000 for x in ori.loc[ori['volume']==500]['m'].tolist()]
    df.iloc[2,1:11] = [x/density*1000 for x in ori.loc[ori['volume']==300]['m'].tolist()]

    df['mean_volume'] = [sum(df.iloc[0,1:11])/10, sum(df.iloc[1,1:11])/10, sum(df.iloc[2,1:11])/10]
    df['mean_error'] = df['mean_volume']-df['target_volume']
    df['relative_error'] = df['mean_error']/df['target_volume']*100
    df.iloc[0,14] = np.std(df.iloc[0,1:11].tolist(),ddof=1)
    df.iloc[1,14] = np.std(df.iloc[1,1:11].tolist(),ddof=1)
    df.iloc[2,14] = np.std(df.iloc[2,1:11].tolist(),ddof=1)
    df['relative_std_dev'] = df['std_dev']*100/df['mean_volume']
    return df

In [5]:
df=report(ori['density'].iloc[0])

In [6]:
df

,target_volume,1,2,3,4,5,6,7,8,9,10,mean_volume,mean_error,relative_error,std_dev,relative_std_dev
0,1000,1005.61,1008.13,996.909,998.626,1007.9,998.397,994.963,1004.69,1001.26,1003.09,1001.957418,1.957418,0.195742,4.64425,0.463518
1,500,503.205,505.38,498.283,509.615,494.162,500.458,499.199,492.674,491.529,499.313,499.381868,-0.618132,-0.123626,5.69238,1.13988
2,300,309.982,295.215,308.837,294.643,306.433,291.667,307.12,306.891,307.921,303.915,303.262363,3.262363,1.087454,6.74925,2.22555

In [7]:
df.to_csv(f'Calibration_report_{liquid}.csv')

In [19]:
ori['density'].iloc[0]

0.8466

In [30]:
df['liquid'] = liquid
cols=list(df)
cols.insert(0,cols.pop(cols.index('liquid')))
df=df.loc[:,cols]

In [31]:
df

,liquid,target_volume,1,2,3,4,5,6,7,8,9,10,mean_volume,mean_error,relative_error,std_dev,relative_std_dev
0,Viscosity_std_1275,1000,990.728,986.149,982.944,975.847,970.696,976.076,974.359,976.763,975.618,987.179,979.635989,-20.364011,-2.036401,6.60389,0.674117
1,Viscosity_std_1275,500,486.264,483.173,478.251,479.739,478.365,478.594,470.009,475.389,470.238,470.238,477.026099,-22.973901,-4.594780,5.58075,1.16991
2,Viscosity_std_1275,300,266.941,272.779,265.453,266.941,265.682,265.682,260.76,263.393,263.736,266.712,265.808150,-34.191850,-11.397283,3.1225,1.17472

In [39]:
two = pd.read_csv('Calibration_report_Viscosity_std_204.csv')

In [46]:
two = two.drop('Unnamed: 0', axis=1)
two['liquid'] = 'Viscosity_std_204'
cols=list(two)
cols.insert(0,cols.pop(cols.index('liquid')))
two=two.loc[:,cols]

In [47]:
two

,liquid,target_volume,1,2,3,4,5,6,7,8,9,10,mean_volume,mean_error,relative_error,std_dev,relative_std_dev
0,Viscosity_std_204,1000,1010.302118,1013.311726,1018.289154,1008.334298,1014.353513,1013.658988,1014.469267,995.138326,1014.353513,1003.356870,1010.556777,10.556777,1.055678,6.796344,0.672535
1,Viscosity_std_204,500,512.790832,515.568932,516.610719,516.726473,513.022341,514.411390,515.800440,513.485357,515.916194,512.327816,514.666049,14.666049,2.933210,1.661205,0.322773
2,Viscosity_std_204,300,307.558745,305.127908,308.137516,302.581317,303.854613,292.626461,307.327237,304.317629,305.590925,299.108693,303.623105,3.623105,1.207702,4.698154,1.547364

In [54]:
pd.concat([two,df], sort=False,ignore_index=True)

,liquid,target_volume,1,2,3,4,5,6,7,8,...,1,2,3,4,5,6,7,8,9,10
0,Viscosity_std_204,1000,1010.302118,1013.311726,1018.289154,1008.334298,1014.353513,1013.658988,1014.469267,995.138326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Viscosity_std_204,500,512.790832,515.568932,516.610719,516.726473,513.022341,514.411390,515.800440,513.485357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Viscosity_std_204,300,307.558745,305.127908,308.137516,302.581317,303.854613,292.626461,307.327237,304.317629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Viscosity_std_1275,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.728,986.149,982.944,975.847,970.696,976.076,974.359,976.763,975.618,987.179
4,Viscosity_std_1275,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,486.264,483.173,478.251,479.739,478.365,478.594,470.009,475.389,470.238,470.238
5,Viscosity_std_1275,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,266.941,272.779,265.453,266.941,265.682,265.682,260.76,263.393,263.736,266.712