In [2]:
import pandas as pd
import numpy as np

In [3]:
ori=pd.read_csv(r'C:\Users\quijanovelascop\OneDrive - A STAR\Documents\GitHub\viscosity_liquid_transfer_Pablo\Opentrons_experiments\BOTorch_optimization\Selina_results\Bryant\liquid_1_calibration_optimized_H.csv')
liquid = 'Viscosity_std_204'
# ori= ori.drop('index',axis=1)
ori

,liquid,pipette,volume,aspiration_rate,dispense_rate,blow_out_rate,delay_aspirate,delay_dispense,delay_blow_out,touch_tip_aspirate,touch_tip_dispense,density,mi,mf,m,%error,Comment
0,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,25.4846,26.3430,0.8584,-0.636648,NaN
1,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,26.3430,27.1906,0.8476,-1.886792,NaN
2,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,27.1906,28.0380,0.8474,-1.909943,NaN
3,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,28.0380,28.8883,0.8503,-1.574256,NaN
4,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,28.8883,29.7393,0.8510,-1.493228,NaN
5,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,29.7393,30.5774,0.8381,-2.986457,NaN
6,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,30.5774,31.4242,0.8468,-1.979396,NaN
7,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,21.7458,22.5732,0.8274,-4.225026,NaN
8,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,22.5732,23.4259,0.8527,-1.296446,NaN
9,5.0,p1000,1000.0,110.67,50.79,0,5,5,0,True,False,0.8639,23.4259,24.2799,0.8540,-1.145966,NaN
10,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,24.2799,24.7118,0.4319,-0.011575,NaN
11,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,24.7118,25.1249,0.4131,-4.363931,NaN
12,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,25.1249,25.5428,0.4179,-3.252691,NaN
13,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,25.5428,25.9614,0.4186,-3.090635,NaN
14,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,25.9614,26.3775,0.4161,-3.669406,NaN
15,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,26.3775,26.7953,0.4178,-3.275842,NaN
16,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,26.7953,27.2064,0.4111,-4.826948,NaN
17,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,27.2064,27.6261,0.4197,-2.835976,NaN
18,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,27.6261,28.0432,0.4171,-3.437898,NaN
19,5.0,p1000,500.0,110.67,50.79,0,5,5,0,True,False,0.8639,28.0432,28.4599,0.4167,-3.530501,NaN
20,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,28.4599,28.7131,0.2532,-2.303507,NaN
21,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,28.7131,28.9612,0.2481,-4.271328,NaN
22,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,28.9612,29.2060,0.2448,-5.544623,NaN
23,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,29.2060,29.4518,0.2458,-5.158776,NaN
24,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,29.4518,29.6959,0.2441,-5.814716,NaN
25,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,29.6959,29.9386,0.2427,-6.354902,NaN
26,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,29.9386,30.1823,0.2437,-5.969055,NaN
27,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,22.9808,23.2340,0.2532,-2.303507,NaN
28,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,23.2340,23.4881,0.2541,-1.956245,NaN
29,5.0,p1000,300.0,110.67,50.79,0,5,5,0,True,False,0.8639,23.4881,23.7392,0.2511,-3.113786,NaN

In [5]:
def report (density):
    df = pd.DataFrame(columns = ['target_volume',1,2,3,4,5,6,7,8,9,10,'mean_volume','mean_error','relative_error','std_dev',
                             'relative_std_dev'])
    df['target_volume']=[1000,500,300]

    df.iloc[0,1:11] = [x/density*1000 for x in ori.loc[ori['volume']==1000]['m'].tolist()]
    df.iloc[1,1:11] = [x/density*1000 for x in ori.loc[ori['volume']==500]['m'].tolist()]
    df.iloc[2,1:11] = [x/density*1000 for x in ori.loc[ori['volume']==300]['m'].tolist()]

    df['mean_volume'] = [sum(df.iloc[0,1:11])/10, sum(df.iloc[1,1:11])/10, sum(df.iloc[2,1:11])/10]
    df['mean_error'] = df['mean_volume']-df['target_volume']
    df['relative_error'] = df['mean_error']/df['target_volume']*100
    df.iloc[0,14] = np.std(df.iloc[0,1:11].tolist(),ddof=1)
    df.iloc[1,14] = np.std(df.iloc[1,1:11].tolist(),ddof=1)
    df.iloc[2,14] = np.std(df.iloc[2,1:11].tolist(),ddof=1)
    df['relative_std_dev'] = df['std_dev']*100/df['mean_volume']
    return df

In [7]:
df=report(ori['density'].iloc[0])
df

,target_volume,1,2,3,4,5,6,7,8,9,10,mean_volume,mean_error,relative_error,std_dev,relative_std_dev
0,1000,993.633522,981.132075,980.900567,984.257437,985.067716,970.135432,980.206042,957.74974,987.035537,988.54034,980.865841,-19.134159,-1.913416,10.215123,1.041439
1,500,499.942123,478.180345,483.736544,484.546823,481.652969,483.620789,475.865262,485.820118,482.81051,482.347494,483.852298,-16.147702,-3.229540,6.389703,1.32059
2,300,293.089478,287.186017,283.36613,284.523672,282.555851,280.935293,282.092835,293.089478,294.131265,290.658641,287.162866,-12.837134,-4.279045,5.143734,1.791225

In [8]:
df['liquid'] = liquid
cols=list(df)
cols.insert(0,cols.pop(cols.index('liquid')))
df=df.loc[:,cols]

In [9]:
df

,liquid,target_volume,1,2,3,4,5,6,7,8,9,10,mean_volume,mean_error,relative_error,std_dev,relative_std_dev
0,Viscosity_std_204,1000,993.633522,981.132075,980.900567,984.257437,985.067716,970.135432,980.206042,957.74974,987.035537,988.54034,980.865841,-19.134159,-1.913416,10.215123,1.041439
1,Viscosity_std_204,500,499.942123,478.180345,483.736544,484.546823,481.652969,483.620789,475.865262,485.820118,482.81051,482.347494,483.852298,-16.147702,-3.229540,6.389703,1.32059
2,Viscosity_std_204,300,293.089478,287.186017,283.36613,284.523672,282.555851,280.935293,282.092835,293.089478,294.131265,290.658641,287.162866,-12.837134,-4.279045,5.143734,1.791225

In [10]:
df.to_csv(rf'C:\Users\quijanovelascop\OneDrive - A STAR\Documents\GitHub\viscosity_liquid_transfer_Pablo\Opentrons_experiments\BOTorch_optimization\Selina_results\Best reports\Calibration_report_H_{liquid}.csv',index=False)

In [23]:
two = pd.read_csv('Calibration_report_Viscosity_std_505.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Calibration_report_Viscosity_std_505.csv'

In [46]:
two = two.drop('Unnamed: 0', axis=1)
two['liquid'] = 'Viscosity_std_204'
cols=list(two)
cols.insert(0,cols.pop(cols.index('liquid')))
two=two.loc[:,cols]

In [47]:
two

,liquid,target_volume,1,2,3,4,5,6,7,8,9,10,mean_volume,mean_error,relative_error,std_dev,relative_std_dev
0,Viscosity_std_204,1000,1010.302118,1013.311726,1018.289154,1008.334298,1014.353513,1013.658988,1014.469267,995.138326,1014.353513,1003.356870,1010.556777,10.556777,1.055678,6.796344,0.672535
1,Viscosity_std_204,500,512.790832,515.568932,516.610719,516.726473,513.022341,514.411390,515.800440,513.485357,515.916194,512.327816,514.666049,14.666049,2.933210,1.661205,0.322773
2,Viscosity_std_204,300,307.558745,305.127908,308.137516,302.581317,303.854613,292.626461,307.327237,304.317629,305.590925,299.108693,303.623105,3.623105,1.207702,4.698154,1.547364

In [54]:
pd.concat([two,df], sort=False,ignore_index=True)

,liquid,target_volume,1,2,3,4,5,6,7,8,...,1,2,3,4,5,6,7,8,9,10
0,Viscosity_std_204,1000,1010.302118,1013.311726,1018.289154,1008.334298,1014.353513,1013.658988,1014.469267,995.138326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Viscosity_std_204,500,512.790832,515.568932,516.610719,516.726473,513.022341,514.411390,515.800440,513.485357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Viscosity_std_204,300,307.558745,305.127908,308.137516,302.581317,303.854613,292.626461,307.327237,304.317629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Viscosity_std_1275,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.728,986.149,982.944,975.847,970.696,976.076,974.359,976.763,975.618,987.179
4,Viscosity_std_1275,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,486.264,483.173,478.251,479.739,478.365,478.594,470.009,475.389,470.238,470.238
5,Viscosity_std_1275,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,266.941,272.779,265.453,266.941,265.682,265.682,260.76,263.393,263.736,266.712