# Sartorious Experiments Data Cleaning Code

In [1]:
#Importing packages
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os 

# Importing files
std = '1275'
folder = (r"C:\Users\admin\Documents\GitHub\viscosity_liquid_transfer_Pablo\Sartorious_experiments\Code")

df_raw = pd.read_csv(folder+r'/Viscosity_std_'+std+'_BOTorch_exp3.csv')

df_raw

,liquid,pipette,volume,aspiration_rate,dispense_rate,blow_out,delay_aspirate,delay_dispense,delay_blow_out,density,time,m,%error,Transfer_Observation,Comment,iteration,time_asp_1000,acq_value
0,Viscosity_std_1275,rLine1000,1000,28.915134,28.915134,False,10,10,0,0.8736,132.773934,0.788634,-9.725963,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
1,Viscosity_std_1275,rLine1000,500,28.915134,28.915134,False,10,10,0,0.8736,97.980054,0.365575,-16.305995,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
2,Viscosity_std_1275,rLine1000,300,28.915134,28.915134,False,10,10,0,0.8736,84.264670,0.202553,-22.713117,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
3,Viscosity_std_1275,rLine1000,"mean[300, 500, 1000]",28.915134,28.915134,False,10,10,0,0.8736,132.773934,0.788634,-16.248358,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
4,Viscosity_std_1275,rLine1000,1000,36.143918,36.143918,False,10,10,0,0.8736,119.593486,0.612891,-29.843014,Incomplete aspiration and dispense,Blowout before,2.0,75.334345,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Viscosity_std_1275,rLine1000,"mean[300, 500, 1000]",4.605809,7.135577,False,10,10,0,0.8736,420.585908,0.854000,-5.442687,Complete Transfer,Blowout before,NaN,377.259945,16.182838
96,Viscosity_std_1275,rLine1000,1000,3.867115,4.755213,False,10,10,0,0.8736,532.434517,0.851115,-2.573826,Incomplete Dispense,Blowout before,NaN,488.886211,15.856457
97,Viscosity_std_1275,rLine1000,500,3.867115,4.755213,False,10,10,0,0.8736,297.805922,0.427882,-2.041753,Incomplete Dispense,Blowout before,NaN,488.886211,15.856457
98,Viscosity_std_1275,rLine1000,300,3.867115,4.755213,False,10,10,0,0.8736,204.135524,0.250128,-4.560345,Incomplete Dispense,Blowout before,NaN,488.886211,15.856457
99,Viscosity_std_1275,rLine1000,"mean[300, 500, 1000]",3.867115,4.755213,False,10,10,0,0.8736,532.434517,0.851115,-3.058641,Incomplete Dispense,Blowout before,NaN,488.886211,15.856457

In [11]:
import pandas as pd
std_list = ['204','505','817',]
df_xlsx = pd.DataFrame()
for std in std_list:
    liquid_name = 'Viscosity_std_' + std
    df = pd.read_csv(liquid_name+'_optimization_exp3.csv')
    df_xlsx = pd.concat([df_xlsx,df], ignore_index=True)

df_xlsx['actual_volume'] = df_xlsx['m'] / df_xlsx['density'] * 1000
df_xlsx[(df_xlsx['volume'] == 300.0) & (df_xlsx['liquid'] == 'Viscosity_std_817')]['actual_volume']

86    268.411269
87    284.934181
88    281.646810
89    286.379936
90    285.003027
91    277.154644
92    282.025460
93    277.292334
94    284.142459
95    281.164892
96    276.087539
Name: actual_volume, dtype: float64

In [ ]:
#Importing packages
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os 

# Importing files
std = '505'
folder = (r"C:\Users\admin\Documents\GitHub\viscosity_liquid_transfer_Pablo\Sartorious_experiments\Code")

df_raw = pd.read_csv(folder+r'/Viscosity_std_'+std+'_BOTorch_exp3.csv')

df_raw

In [ ]:
#Removing anomaly values (manual skim then df.drop())
column_to_drop = 10
df_raw = df_raw.drop(column_to_drop)
df_raw

In [ ]:
#Dropping duplicates
df_raw.drop_duplicates(subset=['volume', 'aspiration_rate', 'dispense_rate', 'delay_aspirate', 'delay_dispense','delay_blow_out', 'Comment'], keep='first', inplace=True)
df_raw

In [ ]:
#Dropping values with no blowout before
df_raw= df_raw.loc[~df_raw['Comment'].str.contains('No')]
df_raw

In [ ]:
#Resetting indexes to make manual iteration labelling easier
df_raw.reset_index(drop=True, inplace=True)
df_raw

In [ ]:
#Making iteration column
df_raw['iteration'] = 'nan'
df_raw

In [9]:
df_raw

Empty DataFrame
Columns: [liquid, pipette, volume, aspiration_rate, dispense_rate, blow_out, delay_aspirate, delay_dispense, delay_blow_out, density, time, m, %error, Transfer_Observation, Comment, iteration, time_asp_1000, acq_value]
Index: []

In [5]:
iteration_list = list(range(6,26)) * 4
iteration_list.sort()
len(iteration_list)

df_raw.loc[20:99, 'iteration'] = iteration_list
df_raw

,liquid,pipette,volume,aspiration_rate,dispense_rate,blow_out,delay_aspirate,delay_dispense,delay_blow_out,density,time,m,%error,Transfer_Observation,Comment,iteration,time_asp_1000,acq_value
0,Viscosity_std_1275,rLine1000,1000,28.915134,28.915134,False,10,10,0,0.8736,132.773934,0.788634,-9.725963,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
1,Viscosity_std_1275,rLine1000,500,28.915134,28.915134,False,10,10,0,0.8736,97.980054,0.365575,-16.305995,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
2,Viscosity_std_1275,rLine1000,300,28.915134,28.915134,False,10,10,0,0.8736,84.264670,0.202553,-22.713117,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
3,Viscosity_std_1275,rLine1000,"mean[300, 500, 1000]",28.915134,28.915134,False,10,10,0,0.8736,132.773934,0.788634,-16.248358,Incomplete aspiration and dispense,Blowout before,1.0,89.167931,NaN
4,Viscosity_std_1275,rLine1000,1000,36.143918,36.143918,False,10,10,0,0.8736,119.593486,0.612891,-29.843014,Incomplete aspiration and dispense,Blowout before,2.0,75.334345,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Viscosity_std_1275,rLine1000,"mean[300, 500, 1000]",4.605809,7.135577,False,10,10,0,0.8736,420.585908,0.854000,-5.442687,Complete Transfer,Blowout before,24.0,377.259945,16.182838
96,Viscosity_std_1275,rLine1000,1000,3.867115,4.755213,False,10,10,0,0.8736,532.434517,0.851115,-2.573826,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457
97,Viscosity_std_1275,rLine1000,500,3.867115,4.755213,False,10,10,0,0.8736,297.805922,0.427882,-2.041753,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457
98,Viscosity_std_1275,rLine1000,300,3.867115,4.755213,False,10,10,0,0.8736,204.135524,0.250128,-4.560345,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457
99,Viscosity_std_1275,rLine1000,"mean[300, 500, 1000]",3.867115,4.755213,False,10,10,0,0.8736,532.434517,0.851115,-3.058641,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457

In [6]:
df_raw = df_raw[df_raw['iteration'] == 25.0]
df_raw

,liquid,pipette,volume,aspiration_rate,dispense_rate,blow_out,delay_aspirate,delay_dispense,delay_blow_out,density,time,m,%error,Transfer_Observation,Comment,iteration,time_asp_1000,acq_value
96,Viscosity_std_1275,rLine1000,1000,3.867115,4.755213,False,10,10,0,0.8736,532.434517,0.851115,-2.573826,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457
97,Viscosity_std_1275,rLine1000,500,3.867115,4.755213,False,10,10,0,0.8736,297.805922,0.427882,-2.041753,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457
98,Viscosity_std_1275,rLine1000,300,3.867115,4.755213,False,10,10,0,0.8736,204.135524,0.250128,-4.560345,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457
99,Viscosity_std_1275,rLine1000,"mean[300, 500, 1000]",3.867115,4.755213,False,10,10,0,0.8736,532.434517,0.851115,-3.058641,Incomplete Dispense,Blowout before,25.0,488.886211,15.856457

In [ ]:
#Manual iteration labelling (referring to the below table for easier reference)
df_raw.loc[21:23, 'iteration'] = 8

In [ ]:
#Filtered table for easier iteration manual labelling
df_raw[['volume', 'aspiration_rate', 'dispense_rate', 'delay_aspirate', 'delay_dispense', 'delay_blow_out', 'iteration']]

In [ ]:
#Viewing the table
df_raw

In [ ]:
#Making time for 100ul column
df_raw['time_for_1000'] = 1000/df_raw["aspiration_rate"] + 1000/df_raw["dispense_rate"] + df_raw["delay_aspirate"] + df_raw["delay_dispense"] + df_raw["delay_blow_out"]
df_raw

In [7]:
folder = (r"C:\Users\admin\Documents\GitHub\viscosity_liquid_transfer_Pablo\Sartorious_experiments\Cleaned_Data")
df_raw.to_csv(folder+r'/'+'1275_test_df.csv', index=False)

In [6]:
df_raw

Empty DataFrame
Columns: [liquid, pipette, volume, aspiration_rate, dispense_rate, blow_out, delay_aspirate, delay_dispense, delay_blow_out, density, time, m, %error, Transfer_Observation, Comment, iteration, time_asp_1000, acq_value]
Index: []

In [ ]:
#Saving the csv
folder = (r"C:\Users\admin\Documents\GitHub\viscosity_liquid_transfer_Pablo\Sartorious_experiments\Cleaned_Data")
df_raw.to_csv(folder+r'/'+'Viscosity_std_'+std+'_exp3_modified.csv', index=False)

In [ ]:
import pandas as pd
std = '505'
folder = (r"C:\Users\admin\Documents\GitHub\viscosity_liquid_transfer_Pablo\Sartorious_experiments\Cleaned_Data")
df_raw = pd.read_csv(folder+r'/Viscosity_std_'+std+'_modified.csv')

In [ ]:
df_raw.tail(20)